@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html{
    overflow-x: hidden;
}

body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

img{
    max-width:100%;
    height: auto;
}

.row{
    margin-left: -15px;
    margin-right: -15px;
}


/*header*/

.header{
    padding: 20px 0;
    z-index: 1;
    position: absolute;
    width: 100%;
}

.header .header__container{
    margin: 0 auto;
    align-items: center;
}

.header .header__container .header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__container .header__content .header__logo h1{
    color: #fb811e;
}

.header .header__container .header__content .header__logo h1:hover a{
    color: black;
    transition: all 0.5s linear;
}

.header .header__container .header__content .header__logo h1 a{
    text-decoration: none;
    position: relative;
    font-size:35px;
    font-weight: 600;
    color: #fb811e;
}

.header .header__container .header__content .header__logo h1 i{
    top: 20px;
    transform: translateX(-100px);
    font-size: 15px;
    position: absolute;
}

.header .header__container .header__content .header__menu i{
    margin: 0 15px;
    font-size: 20px;
}

.header .header__container .header__content .header__menus{
    display: none;
}

/* header*/
.banner{
    top: 0;
    width: 100%;
}
.banner .banner__container{
    display: flex;
    align-items: center;
}

.banner .banner__container .banner__content{
    flex: 0 0 40%;
    max-width: 40%;
    left: 10em;
    position:absolute;
    z-index: 1;
}

.banner .banner__container .banner__content .banner__text{
    position: relative;
}

.banner .banner__container .banner__content h2{
    color: #f4f4f4;
    font-size: 120px;
    font-weight: bold;
    margin-left: -50px;
    position: absolute;
    margin-top: -0.7em;
}

.banner .banner__container .banner__content .banner__text h3{
    font-size: 50px;
    margin-bottom: 25px;
}

.banner .banner__container .banner__content .banner__text p{
    font-size: 20px;
    color: #707070;
}

.banner .banner__container .banner__content .banner__text a{
    text-decoration: none;
    font-size: 20px;
    background-color: #fb811e;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    margin-top: 48px;
}


.banner .banner__container .banner__image{
    flex: 0 0 60%;
    max-width: 60%;
    margin-left: auto;
    position: relative;
}


.banner .banner__container .banner__image{
    background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/b4.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    border-radius: 20px;
    position: relative;
}

.banner .banner__container .banner__image::before{
    content:"";
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 17%);
    display: block;
    border-radius: 20px;
    position: absolute;
}

/*Grow*/

.grow{
    padding: 48px 0px;
    background-color: #fafafa;
}

.grow .grow__container{
    padding: 48px 0;
}

.grow .grow__container .grow__content{
    display: flex;
    align-items: center;
}

.grow .grow__container .grow__content .grow__text{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.grow .grow__container .grow__content .grow__text h5{
    color: #fb811e;
    font-size: 25px;
    font-weight: 600;
}

.grow .grow__container .grow__content .grow__text h3{
    font-size: 40px;
}

.grow .grow__container .grow__content .grow__text p{
    color: #707070;
    margin-top: 20px;
}

.grow .grow__container .grow__content .grow__text a{
    text-decoration: none;
    font-size: 20px;
    font-weight:600;
    color: #fff;
    background-color: #fb811e;
    display: inline-block;
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.5s linear;
}

.grow .grow__container .grow__content .grow__text a:hover{
    background-color:#009f4d;
}

.grow .grow__container .grow__content .grow__item{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.grow .grow__container .grow__content .grow__item .grow__all{
    display: flex;
    flex-wrap: wrap;
}

.grow .grow__container .grow__content .grow__item .grow__all .grow__icon{
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
    text-align: center;
    padding: 40px 30px;
    background-color: #fff;
    margin: 15px;
    border-radius: 20px;
    
}

.grow .grow__container .grow__content .grow__item .grow__all .grow__icon:hover{
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
    transition: all 0.5s linear;
}

.grow .grow__container .grow__content .grow__item .grow__all .grow__icon .grow__img img{
    display: block;
    margin: 0 auto;
    max-width: 65px;
}

.grow .grow__container .grow__content .grow__item .grow__all .grow__icon p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
}

.grow .grow__container .grow__content .grow__item .grow__all .grow__icon p:hover{
    color: #009f4d;
    transition: all 0.5s linear;
}
/*Grow*/
/*wwd*/
.wwd{
    background-color: #009f4d;
    padding: 48px 0;
}

.wwd .wwd__container{
    padding: 48px 0;
}

.wwd .wwd__container .wwd__content .wwd__text{
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 60px;
}

.wwd .wwd__container .wwd__content .wwd__text h5{
    position: absolute;
    color: #f3eeee;
    font-size: 12vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.14;
}

.wwd .wwd__container .wwd__content .wwd__text .wwd__hd{
    flex: 0 0 50%;
    max-width: 50%;
}

.wwd .wwd__container .wwd__content .wwd__text .wwd__hd h4{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
    
}

.wwd .wwd__container .wwd__content .wwd__text .wwd__hd h2{
    font-size: 50px;
    color: #fff;
    z-index: 1;
}

.wwd .wwd__container .wwd__content .wwd__text .wwd__p{
    flex: 0 0 50%;
    max-width: 50%;
    color: #fff;
    z-index: 1;
    font-size: 25px;
    font-weight:300;
}

.wwd .wwd__container .wwd__content .wwd__all{
    display: flex;
}

.wwd .wwd__container .wwd__content .wwd__all .wwd__im{
    flex: 0 0 33.3337%;
    max-width: 33.3337%;
    border-radius: 20px;
    padding: 0 15px;
}

.wwd .wwd__container .wwd__content .wwd__all .wwd__im .wwd__image{
    background-color: #fff;
    border-radius: 20px;
}

.wwd .wwd__container .wwd__content .wwd__all .wwd__im .wwd__image img{
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.wwd .wwd__container .wwd__content .wwd__all .wwd__im .wwd__image .wwd__des{
    padding: 23px;
}

.wwd .wwd__container .wwd__content .wwd__all .wwd__im .wwd__image .wwd__des a{
    text-decoration: none;
    font-size: 20px;
    color: #009f4d;
    background-color: rgb(0 159 77 / 16%);
    padding: 5px 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: inline-block;
}


.wwd .wwd__container .wwd__content .wwd__all .wwd__im .wwd__image .wwd__des h4{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.wwd .wwd__container .wwd__content .wwd__all .wwd__im .wwd__image .wwd__des p{
    color: #707070;
    font-size: 18px;
}
/*wwd*/

/*wwd*/
.wcu{
    padding: 48px 0;
}

.wcu .wcu__container{
    padding: 48px 0;
    display: flex;
    align-items: center;
}

.wcu .wcu__container .wcu__content{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0px 15px;
}

.wcu .wcu__container .wcu__content h5{
    font-size: 25px;
    color: #fb811e;
    font-weight: 600;
}

.wcu .wcu__container .wcu__content h3{
    font-size: 45px;
}

.wcu .wcu__container .wcu__content P{
    color: #707070;
    font-size: 18px;
    margin-top: 20px;
}

.wcu .wcu__container .wcu__content .wcu__all{
    display: flex;
}

.wcu .wcu__container .wcu__content .wcu__all .wcu__item{
    padding: 0 15px;
    display: flex;
    margin-top: 48px;
}

.wcu .wcu__container .wcu__content .wcu__all .wcu__item i{
    margin-right: 10px;
    font-size: 35px;
    color: #fb811e;
}

.wcu .wcu__container .wcu__content .wcu__all .wcu__item .wcu__icon h4{
    font-size: 30px;
    font-weight: 600;
}

.wcu .wcu__container .wcu__image{
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0px 15px;
    margin-left: 10%;
    position: relative;
}

.wcu .wcu__container .wcu__image img{
    display: block;
    border-radius: 30px;
}

.wcu .wcu__container .wcu__image .wcu__im{
    position: absolute;
    left: -70px;
    bottom: 10%;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
}

.wcu .wcu__container .wcu__im{
    background-color: #fb811e;
    padding: 30px 60px;
    border-bottom-right-radius: 100px;
}

.wcu .wcu__container .wcu__im h6{
    font-size: 80px;
    color: #fff;
}

.wcu .wcu__container .wcu__im p{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

/*wwd*/

/*farm*/
.farm{
    padding: 48px 0;
}

.farm .farm__container .farm__content{
    display: flex;
    flex-wrap: wrap;
}

.farm .farm__container .farm__content .farm__all{
    flex: 0 0 calc(33.3333% - 30px);
    max-width: calc(33.3333% - 30px);
    padding: 15px;
}

.farm .farm__container .farm__content .farm__all .farm__item{
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    border-radius: 20px;
}

.farm .farm__container .farm__content .farm__all .farm__item .farm__image img{
    max-width: 60px;
    margin-right: 30px;
    display: block;
}

.farm .farm__container .farm__content .farm__all .farm__item .farm__icon h4{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.farm .farm__container .farm__content .farm__all .farm__item:hover .farm__icon h4{
    color: #009f4d;
    transition: all 0.5s linear;
}

.farm .farm__container .farm__content .farm__all .farm__item .farm__icon p{
    font-size: 18px;
    color: #707070;
    line-height: 27px;
}

.farm .farm__container .farm__content .farm__all .farm__item:hover .farm__icon p{
    color: #fb811e;
    transition: all 0.5s linear;
}

/*farm*/

/*op*/
.op{
    padding: 48px 0;
}

.op .op__container{
    display: flex;
    flex-wrap: wrap;
}

.op .op__container .op__content{
    flex: 0 0 25%;
    max-width: 25%;
}

.op .op__container .op__content h4{
    font-size: 30px;
    font-weight: 600;
    color: #fb811e;
    margin-bottom: 10px;
}

.op .op__container .op__content h3{
    font-size: 48px;
    margin-bottom: 15px;
}

.op .op__container .op__content p{
    font-size: 20px;
    color: #707070;
    font-weight: 400;
    
}

.op .op__container .op__content a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    background-color: #fb811e;
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 20px;
}


.op .op__container .op__image{
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.op .op__container .op__image::before{
    content: '';
    top: 0;
    left: -75px; 
    display: block;
    width: 50%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    height: 100%;
    position: absolute;
    transform: skewX(-17deg);
    z-index: 2;
}

.op .op__container .op__image::before:hover{
    left: 75px;
}

.op .op__container .op__image .op__img img{
    display: block;
    width:100%
}

.op .op__container .op__image .op__text{
    position: absolute;
    bottom: 8px;
    width:90%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.op .op__container .op__image .op__text h5{
    font-size: 25px;
    background-color: rgb(255 255 255 / 27%);
    color: #fff;
    padding: 8px 20px;
    
}

/*op*/

/*customer*/
.customer{
    background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/bg1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 48px 0;
    position: relative;
}

.customer::before{
    content:'';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(10 10 10 / 52%);
    z-index: 0;
    position: absolute;
}

.customer .customer__container{
    padding: 48px 0;
    align-items: center;
    
}


.customer .customer__container .customer__content{
    display: flex;
    padding: 48px;
    margin: 0 7%;
    justify-content: space-between;
    align-items: center;
}

.customer .customer__container .customer__content .customer__image{
    z-index: 1;
    text-align: center;
}

.customer .customer__container .customer__content .customer__image img{
    border-radius: 50%;
    max-width: 70%;
}

.customer .customer__container .customer__content .customer__image h5{
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;
}

.customer .customer__container .customer__content .customer__image p{
    font-size: 20px;
    color: #fff;
}

.customer .customer__container .customer__content .container__image{
    flex: 0 0 25%;
    max-width: 25%
}

.customer .customer__container .customer__content .customer__text{
    flex: 0 0 75%;
    max-width: 75%;
    margin-left: 10%;
    z-index: 1;
    text-align: left;
    position: relative;
}

.customer .customer__container .customer__content .customer__text p{
    font-size: 25px;
    color: #fff;
    text-indent: 30px;
    
}


.customer .customer__container .customer__content .customer__text{
    color: #fb811e;
    font-size: 20px;
}

/*customer*/

/*footer*/
.footer{
    padding: 48px 0;
}

.footer .footer__container .footer__content{
    display: flex;
    padding: 48px 15px;
}

.footer .footer__container .footer__content .footer__us{
    flex: 0 0 calc(33.3337% -30px);
    max-width: calc(33.3337% -30px);
}

.footer .footer__container .footer__content .footer__us h3{
    font-size: 25px;
    margin-bottom: 30px;
}

.footer .footer__container .footer__content .footer__us p{
    font-size:18px;
    color: #707070;
    margin-bottom: 15px;
}

.footer .footer__container .footer__content .footer__logo{
    flex: 0 0 33.3337%;
    max-width: 33.3337%;
    padding: 0 15px;
}

.footer .footer__container .footer__content .footer__logo a{
    font-weight: 600;
    text-decoration: none;
    color: #fb811e;
    position: relative;
}

.footer .footer__container .footer__content .footer__logo a h4{
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer .footer__container .footer__content .footer__logo a i{
    position: absolute;
    top: 0;
    left: 55px;
}

.footer .footer__container .footer__content .footer__logo p{
    margin-bottom: 20px;
    font-size: 18px;
    color: #707070;
}

.footer .footer__container .footer__content .footer__new{
    flex: 0 0 33.3337%;
    max-width: 33.3337%;
    padding: 0 15px;
}

.footer .footer__container .footer__content .footer__new h3{
    font-size: 25px;
    margin-bottom: 30px;
}

.footer .footer__container .footer__content .footer__new p{
    font-size: 18px;
    color: #707070;
    margin-bottom: 20px;
}

.footer .footer__container .footer__content .footer__new .footer__input input{
    padding: 20px 25px;
    width: 80%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border: none;
    background-color: #f4f4f4;
    font-size: 15px;
    position: relative;
}

.footer .footer__container .footer__content .footer__new .footer__input i{
    font-size: 18px;
    background-color: #009f4d;
    padding: 20px 30px;
    position: absolute;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    color: #fff;
}

.footer .footer__container .footer__content .footer__new .footer__input input:focus{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.footer .footer__container .footer__content .footer__new .footer__icon i{
    font-size: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #e2efe8;
    border-radius: 50%;
    text-align: center;
    color: #009f4d;
    margin-left: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.footer .footer__container .footer__content .footer__new .footer__icon i:hover{
    color: #fb811e;
    background-color: rgb(255 201 69 / 19%);
    transition: all 0.5s linear;
}
/*footer*/
