
.header{
    z-index: 2;
}


.container{
    padding: 0 15px;
}

.header .header__container .header__content .header__logo h1 a{
    font-size: 28px;
}

.header .header__container .header__content .header__menu i{
    font-size: 18px;
}

.banner .banner__container{
    display: block;
}

.banner .banner__container .banner__content{
    flex: 0 0 100%;
    max-width: 100%;
    position: absolute;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.banner .banner__container .banner__content .banner__text h3{
    font-size: 25px;
}

.banner .banner__container .banner__content .banner__text p{
    font-size: 15px;
}

.banner .banner__container .banner__content h2{
    font-size: 60px;
}
.banner .banner__container .banner__image {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    border-radius: 0%;
}

.banner .banner__container .banner__content .banner__text{
    padding: 0;
    max-width: 100%;
}



.banner .banner__container .banner__content{
    padding: 0 15px;
    width: 100%;
}

.banner .banner__container .banner__content .banner__text{
    padding: 55px;
    text-align: left;
    background-color: #efe2e2;
    border-radius: 7px;
}

.banner .banner__container .banner__content h2{
    color: #f4f4f4;
    z-index: 1;
}

.header .header__container .header__content{
    color: #fff;
}

.header .header__container .header__content .header__logo h1{
    color: #fff;
}

.header .header__container .header__content .header__logo h1 a{
    color: #fff;
}

.grow .grow__container{
    padding: 0;
}

.grow .grow__container .grow__content{
    margin-left: 0px;
    margin-right: 0px;
}

.grow .grow__container .grow__content .grow__text a{
    padding: 10px 40px;
}

.grow .grow__container .grow__content .grow__item {
    margin-left: 0px;
    margin-right: 0px;
}

.grow .grow__container .grow__content .grow__item .grow__all{
    display: block;
}

.grow .grow__container .grow__content .grow__item .grow__all .grow__icon{
    max-width: 100%;
}

.wwd .wwd__container .wwd__content .wwd__text{
    display: block;
}

.wwd .wwd__container .wwd__content .wwd__text .wwd__hd{
    max-width: 100%;
}

.wwd .wwd__container .wwd__content .wwd__text .wwd__p{
    max-width: 100%;
}

.wwd .wwd__container{
    padding: 0 15px;
}

.wwd .wwd__container .wwd__content .wwd__text h5{
    font-size: 60px;
}

.wwd .wwd__container .wwd__content .wwd__text .wwd__hd h4{
    font-size: 20px;
}

.wwd .wwd__container .wwd__content .wwd__text .wwd__hd h2{
    font-size: 30px;
}

.wwd .wwd__container .wwd__content .wwd__text .wwd__p{
    font-size: 20px;
}

.wwd .wwd__container .wwd__content .wwd__all{
    display: block;
}

.wwd .wwd__container .wwd__content .wwd__all .wwd__im{
    max-width: 100%;
}

.wwd .wwd__container .wwd__content .wwd__all .wwd__im:first-child{
    margin-bottom: 30px;
}

.wcu .wcu__container{
    padding: 0;
}

.wcu .wcu__container .wcu__content .wcu__all{
    display: block;
}

.wcu .wcu__container .wcu__image{
    margin: 0;
}

.wcu .wcu__container .wcu__image .wcu__im{
    left: 0;
}

.farm .farm__container .farm__content{
    display: block;
}

.farm .farm__container .farm__content .farm__all{
    max-width: 100%;
}

.op .op__container .op__content{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1em;
}

.op .op__container .op__content h4{
    font-size: 20px;
}

.op .op__container .op__content h3{
    font-size: 35px;
}

.op .op__container .op__content p{
    font-size: 17px;
}

.customer .customer__container .customer__content{
    display: block;
    text-align: center;
}

.customer .customer__container .customer__content .customer__text{
    max-width: 100%;
    text-align: center;
    margin-top: 20px;
}

.customer .customer__container .customer__content .customer__image{
    max-width: 100%;
    position: relative;
}

.customer .customer__container .customer__content .customer__image img{
    max-width: 20%;
    z-index: 1;
}

.customer .customer__container .customer__content .customer__text p{
    font-size: 18px;
}


.header .header__container .header__content .header__menus#scroll{
    background-color: #fff;
    color: black;
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    text-align: center;
    font-weight: bold;
    transform: translateX(-150%);
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    display: block;
    transition: all 0.5s linear;
    position: fixed;
    padding-top: 50px;
}

.header .header__container .header__content .header__menus#scroll.active{
    transform: translateX(0%);
}

.header .header__container .header__content .header__menus p{
    padding: 7px;
}