.container{
    max-width: 700px;
}

.banner .banner__container .banner__content{
    position: static;
    padding: 15px;
}

.banner .banner__container .banner__content .banner__text{
    padding: 3em 2em 2em 4em;
}

.banner .banner__container .banner__content h2{
    font-size: 80px;
    margin-left: 30px;
    margin-top: 0;
}

.banner .banner__container .banner__content .banner__text h3{
    font-size: 35px;
}

.grow .grow__container .grow__content{
    display: block;
}

.grow .grow__container .grow__content .grow__text {
    max-width: 100%;
}

.grow .grow__container .grow__content .grow__item{
    max-width: 100%;
    margin-left: -15px;
    margin-right: -15px;
}

.wwd .wwd__container .wwd__content .wwd__text .wwd__hd h2{
    font-size: 35px;
}

.wwd .wwd__container .wwd__content .wwd__text .wwd__hd{
    padding-right: 10px;
}

.wwd .wwd__container .wwd__content .wwd__all {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center;
}

.wwd .wwd__container .wwd__content .wwd__all .wwd__im{
    flex: 0 0 50%;
    max-width: 50%;
}

.wwd .wwd__container .wwd__content .wwd__all .wwd__im:last-child{
    margin-top: 30px;
}

.wcu .wcu__container{
    display: block;
}

.wcu .wcu__container .wcu__content{
    max-width: 100%;
}

.wcu .wcu__container .wcu__content h3{
    font-size: 35px;
}

.wcu .wcu__container .wcu__image{
    max-width: 100%;
    margin-top: 50px;
}

.farm .farm__container .farm__content .farm__all{
    flex: 0 0 50%;
    max-width: 50%;
}

.op .op__container .op__content{
    flex: 0 0 50%;
    max-width: 50%;
}

.op .op__container .op__image{
    flex: 0 0 50%;
    max-width: 50%;
}

.customer .customer__container .customer__content {
    display: flex;
    padding: 0px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.customer .customer__container .customer__content .customer__image{
    flex: 0 0 calc(25% -30px);
    max-width: calc(25% -30px);
    padding: 0 15px;
}

.customer .customer__container .customer__content .customer__text{
    flex: 0 0 calc(75% -30px);
    max-width: calc(75% -30px);
    margin: 0px;
    padding: 0 15px;
}

.customer .customer__container .customer__content .customer__image h5{
    font-size: 20px;
}

.footer .footer__container .footer__content{
    display: block;
}

.footer .footer__container .footer__content .footer__logo{
    max-width: 100%;
    padding: 0;
    margin-top: 30px;
}

.footer .footer__container .footer__content .footer__new{
    max-width: 100%;
    padding: 0px;
    margin-top: 30px
}

